.trans-col {
    padding-left: 6rem;
}

.balance-col {
    padding-right: 6rem;
}

.container {
    margin-top: 70px;
}

.balance-col > .balance-card {
    background-image: url('../../../assets/images/geometric-pattern.svg');
    color: white;
    height: 200px;
    width: 100%;
    position: relative;
}

.balance {
    position: absolute;
    top: 50px;
    left: 1.5rem;
    color: white;
    font-size: 40px;
    margin-top: 7rem;
    margin-right: 7rem;
}

.amount{
    position: absolute;
    top: 50px;
    left: 5%;
    color: white;
    font-size: 20px;
    margin-top: 5rem;
}

.iban {
    position: absolute;
    text-align: left;
    bottom: 20px;
    left: 30px;
    margin-bottom: 0.5rem;
    margin-left: 13.5rem;
    color: white;
}

.btn-export {
    position: absolute;
    right: 7.6rem;
    top: 6rem;
    display: flex;
    border-radius: 5px;
    background-color: hsl(181, 62%, 46%);
    color: white;
    margin: 30px 0 auto auto;
}

.btn-export:active {
    background-color: hsl(181, 43%, 63%);
    color: white;
}

.filter {
    margin-left: 0;
    margin-right: auto;
    width: fit-content;
}

.trans-list {
    margin-top: 1rem;
}

.trans-pages {
    margin: auto;
    margin-top: 1rem;
    width: max-content;

}

.export-icon{
    width: 1rem;
    height: 1rem;
    color: white;
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
    color: hsl(181, 62%, 46%) !important;
}

ngb-pagination ::ng-deep ul > li.active > a {
    
    background-color: rgb(40, 83, 122) !important;
    border-color: rgb(40, 83, 122) !important;
}

.credit-card{

    background-repeat: no-repeat;
    background-position: 295%;
    background-size: contain;
    height: 92%;
    width: 100%;
    position: absolute;
}

.card{
    background-image: url('../../../assets/images/geometric-credit-card-180.svg');

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
height: 300px;
width: 498px;
border-radius: 30px;
}
.image{
    transform: none;
    width: 200px;
    margin: 1.5rem;
    bottom: 200px;
    margin-top: 2.3rem;
    margin-left: 2.5rem;
}

.chip{
    position: absolute;
    height: 60px;
    margin-left: 24rem;
    margin-top: 5rem;
}

.wireless{
    transform: rotate(90deg);
    position: absolute;
    height: 50px;
    transform: rotate(270deg);
    margin-left: 20rem;
    margin-top: 5.25rem;
}

.rightButton{
    margin-left: 0px;
    background-color: rgb(40, 83, 122);
}