<div class="container text-center">
  <div class="row column-gap-6">
    <div class="col balance-col">
      <div class="card ">




        <img class="image" src="../../../assets/images/logo-bianco.svg" alt="">
        <div>
        <label class="amount" *ngIf="lastTransaction">Saldo:</label>
        </div>
        <div>          
          <label style="text-align: left;" class="balance" *ngIf="lastTransaction"><b>{{lastTransaction.balance | currency}}</b></label>
        </div>
        <img class="chip" src="../../../assets/images/chip.svg" alt="">

        <label class="iban" *ngIf="account"><b>{{account.iban}}</b></label>


        <img class="wireless" src="../../../assets/images/wireless.svg" alt="">

      
      </div>
      
      <button class="btn btn-export rightButton" type="button" (click)="export()">
        Esporta movimenti<img class="export-icon" src="../../../assets/images/icon-excel.svg" alt="">
      </button>
    </div>
    <div class="col trans-col">
      <div class="filter">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn" ngbDropdownToggle>
            <fa-icon icon="filter"></fa-icon>
          </button>
          <div ngbDropdownMenu>
            <app-transactions-filter (filters)="setFilters($event)"></app-transactions-filter>
          </div>
        </div>
      </div>
      
      <div class="trans-list">
        <div *ngFor="let trans of transactions | slice: (page-1) * pageSize : page * pageSize">
          <app-transaction-card [transaction]="trans"></app-transaction-card>
        </div>
      </div>    
      <div class="trans-pages" >
        <ngb-pagination [collectionSize]="transactions.length" [(page)]="page" [pageSize]="pageSize" [directionLinks]="false"></ngb-pagination>
      </div>
    </div> 
  </div>
</div>