<div class="card" *ngIf="transaction" type="button" (click)="open()">
  <div class="card-body">
    <div class="trans-body">
      <div class="row">
        <div class="col-auto">
          <div class="category">{{transaction.category.name}}</div>
          <div>{{transaction.date | date : 'short' : undefined : 'it-IT'}}</div>
        </div>
        <div class="col col-desc">
          <div class="description">
            {{transaction.description}}
          </div>
        </div>
        <div class="col-auto col-amount">
          <div class="amount">
            <div class="entrata" *ngIf="transaction.category.type == 'Entrata'">{{transaction.amount | transactionEntrata}}</div>
            <div class="uscita" *ngIf="transaction.category.type == 'Uscita'">{{transaction.amount | transactionUscita}}</div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>