<div class="general-div">
  <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <a class="navbar-brand" href="#">Il Tuo Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#aboutus" >Chi siamo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">I nostri servizi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign up</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="div-slide">
    <div class="text-div">
      <div class="inner-text-div">
      <h1  class="h1-h1">Corporate & Businnes enterprises</h1>
      <h1 class="h1-h1">Bank for all your need</h1>
      <span class="span-div">sdbsjhdsjadsa jhbdahsdhbsasdsdsa dsssdsads dsad</span>
      <br>
      <span class="span-div">wiudusagdusdusa dussdsadsdsads dsdsds</span>
      <br>
      <button type="button" class="btn btn-light">Learn more</button>
    </div>
    </div>
    <div class="img-div">
      <div class="right-img-div">
      </div>
    </div>
  </div>
  <div class="div-slide2" id="aboutus" >
    <div class="img-div2">
      <div class="lef-img-div" ></div>
    </div>
    <div class="text-div2">
      <div class="inner-text-div2">
        <span class="span-div2">- About Us</span>
        <h1 class="h1-2">Our history start back in</h1>
        <h1 class="h1-2">little town in scotland</h1>
        <span>dsa dbsadubsau dsud sdh s sds sd sss </span>
        <span>dsadbsa dubsau dsud sdh ssdsa ddsad ss d </span>
        <span>dsadbsa dubsau dsud sdh ssdsa ddsad ss d </span>
        <span>dsadbsa dubsau dsud sdh ssdsa ddsad ss d </span>
      </div>
    </div>
  </div>
  <div class="services-div">
    <h1 class="h1-services">Our services</h1>
    <div class="row" style="--bs-gutter-x: 0px">
  <div class="col-md-3">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <fa-icon icon="phone" [size]="'2x'"></fa-icon>
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <fa-icon icon="info" [size]="'2x'"></fa-icon>
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <fa-icon icon="mobile" [size]="'2x'"></fa-icon>
        <h5 class="card-title"> Try our mobile app</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <fa-icon icon="shield" [size]="'2x'"></fa-icon>
        <h5 class="card-title">You can trust our security system</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>
  </div>
  <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Company name
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2025 Copyright:
    <a class="text-reset fw-bold" href="https://pioveoggiaroma.it/">LPSind.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


  