.nav-item{
    padding-left: 50px;
}
.full-width-height {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
.navbar-brand{
    padding-left: 10px;
}
.div-slide{
    height: 550px;
    width: 100%;
    display: flex;
}
.text-div{
    flex: 1;
    background-color: hsl(181, 62%, 46%);
    justify-content: center;
    align-items: center;
}
.img-div{
    flex: 1;
    background-color: 
     hsl(181, 62%, 46%);
}
.h1-h1{
    color: 
    #f5fafd;
    padding-bottom: 14px ;
}
.h1-h1-upper{
    color: 
    #f5fafd;
    margin: 0px;
}
.right-img-div{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    width: 498px;
    height: 313px;
    background-color: #165bd4;
    background-image: url('src\assets\images\carlos-muza-hpjSkU2UYSU-unsplash.jpg');
    background-size: cover;
    margin-top: 107px;
    margin-left: 70px;

}
.inner-text-div{
    padding-top: 122px;
    padding-left: 38px;
}
.span-1{
    color: 
    #f5fafd;
}
.span-div{
    color: 
    #f5fafd;
}
.btn{
    color: hsl(181, 62%, 46%); ;
    border-radius: 2px;
    margin-top: 20px;
}
.div-slide2{
    height: 550px;
    width: 100%;
    display: flex;
}
.img-div2{
    flex: 1;
    background-color: 
    #f5fafd;
}
.text-div2{
    flex: 1;
    background-color: 
    #f5fafd;
    justify-content: center;
    align-items: center;
}
.lef-img-div{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    width: 498px;
    height: 313px;
    background-color: #f5fafd;
    background-image: url('src\assets\images\teamwork-3213924_1280.jpg');
    background-size: cover;
    margin-top: 107px;
    margin-left: 106px;
}
.inner-text-div2{
    padding-top: 122px;
    padding-left: 38px;
    padding-right: 43px;
}
.span-div2{
    font-weight: bold;
    color:  
    #1b1b1b;
}
.h1-2{
    color:
    #1b1b1b;
    padding-bottom: 14px;
}
.h1-2-upper{
    color:
    #1b1b1b;
    margin: 0px;
}
.services-div{
    background-color: 
    hsl(181, 62%, 46%);
    padding-left: 38px;
    height: 504px;
}
.card{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    color: #1b1b1b  ;
    background-color: #f5fafd;
    border-radius: 10px;
    
}
.h1-services{
    color: #f5fafd;
    padding-bottom: 70px;
    padding-top: 50px;
    padding-right: 61px;

}
.services-div{
    text-align: center;
}
.mobile{
    font-size: 30px;
}
.card-title{
    padding-top: 20px;
}