<div >
<form [formGroup]="phoneTopUpForm">
    <div class="background"></div>
<div class="background2"></div>
    <div class="card">
    
        <div class="cardSlot1">
            <b><div style="margin-bottom: 5px;" class="inputTitle">Numero di telefono</div></b>
            <div class="select-wrapper">
                <span class="input-group-text" id="basic-addon1"><img src="../../../assets/images/Italy.svg" alt="Immagine SVG" class="iconsFlag">+39</span>
            <input type="tel" name="name" maxlength="10" class="form-control" formControlName="phoneNumber">
            
        </div>
        <div *ngIf="phoneTopUpForm && phoneTopUpForm.get('phoneNumber')!.invalid && phoneError == true" class="error-message">
                <span class="text-danger">Inserisci un numero valido (minimo 10 caratteri).</span>
              </div>
    </div>
        <div class="cardSlot2">            
            <b><div style="margin-top: 5px;"  class="inputTitle">Importo</div></b>
            <div class="select-wrapper">
            <span class="input-group-text" id="basic-addon1">€</span>
            <select class="form-control" formControlName="amount">                
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>30</option>
                <option>40</option>
                <option>50</option>
              </select>
            </div>
            <div *ngIf="phoneTopUpForm && phoneTopUpForm.get('amount')!.invalid && phoneError == true" class="error-message">
                <span class="text-danger">Questo campo è obbligatorio.</span>
              </div>
        </div>
    
      <div class="cardSlot3">
            <b><div class="inputTitle">Operatore Telefonico</div></b>        
            <div class="select-wrapper">
                <span class="input-group-text" id="basic-addon1"><img src="{{icona}}" alt="Immagine SVG" class="icons"></span>
                <select class="form-control" formControlName="phoneServiceProvider" (change)="updateIcon($event)">
                  <option>Tim</option>
                  <option>Vodafone</option>
                  <option>WindTre</option>
                  <option>Iliad</option>
                  <option>PosteMobile</option>
                  <option>Fastweb Mobile</option>
                  <option>Ho.</option>
                  <option>Tiscali</option>
                  <option>Very Mobile</option>
                  <option>Kena</option>
                  <option>Spusu</option>
                </select>
              </div>            
              <div *ngIf="phoneTopUpForm && phoneTopUpForm.get('phoneServiceProvider')!.invalid && phoneError == true" class="error-message">
                <span class="text-danger">Questo campo è obbligatorio.</span>
              </div></div>


        <div class="cardSlot5">        
        <button class="button-40" role="button" (click)="phoneTopUp()">Ricarica telefono</button>
        </div>
    
    </div>
    </form>
</div>
