<div class="container text-center">
  <div class="row">
    <div class="col col-md-4">
      <div class="card shadow" type="button">
        <div class="card-body" [routerLink]="['/transactions']">
          <img class="icon" src="../../../assets/images/icon-budgeting.svg" alt="">
          <div class="d-inline">Il mio saldo</div>
        </div>
      </div>
      <div class="card shadow" type="button">
        <div class="card-body" [routerLink]="['/transaction']">
          <img class="icon" src="../../../assets/images/icon-onboarding.svg" alt="">
          <div class="d-inline">Bonifico</div>
        </div>
      </div>
      <div class="card shadow" type="button">
        <div class="card-body" [routerLink]="['/phoneTopUp']">
          <img class="icon" src="../../../assets/images/icon-online.svg" alt="">
          <div class="d-inline">Ricarica telefonica</div>
        </div>
      </div>
    </div>
  </div>
</div>