<div>
  <div class="container text-center">
    <div class="col">
      <div class="row">
        <div class="col col-md-4" style="margin-top: 150px; position: relative;  z-index: 2;">
          <div class="card shadow" type="button">
            <div class="card-body" [routerLink]="['/transactions']">
              <div class="row">
                <div class="col-4 centered">
                  <img class="icon" src="../../../assets/images/icon-budgeting.svg" alt="">
                </div>
                <div class="col centered">
                  <div class="desc-menu"><b>Il mio saldo</b> </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow" type="button">
            <div class="card-body" [routerLink]="['/transaction']">
              <div class="row">
                <div class="col-4 centered">
                  <img class="icon" src="../../../assets/images/icon-onboarding.svg" alt="">
                </div>
                <div class="col centered">
                  <div class="desc-menu"><b>Bonifico</b> </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow" type="button">
            <div class="card-body" [routerLink]="['/phoneTopUp']">
              <div class="row">
                <div class="col-4 centered">
                  <img class="icon" src="../../../assets/images/icon-online.svg" alt="">
                </div>
                <div class="col centered">
                  <div class="desc-menu"><b>Ricarica telefonica</b> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-4 background" style="position: absolute; z-index: 1;">

          <div class="motivationalSentence">
            <div>Il successo</div>
            <div>inizia con transazioni</div>
            <div>intelligenti</div>
          </div>
          <!-- <label class="motivationalSentence"><b> <span style="margin-right: 100px;">Il successo</span> <br>inizia con
              transazioni<br><span style="margin-left: 150px;"> intelligenti</span></b></label> -->
        </div>
      </div>
    </div>
    <div>

    </div>
  </div>
</div>