.background {
    background-image: url('../../../assets/images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 80%;
    width: 80%;
    position: absolute;
    margin-left: 50px;
  }
.container{
    margin-top: 50px;
}
.card{
    
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: rgb(37, 162, 163);
    color: white;
    font-size: 20px;
}
.card-body{
    margin-top: 20px;
    padding-left: 3rem;
    padding-right: 3rem;
}
.icon{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.motivationalSentence{
    font-size: 52px;
    color: white; 
    padding-left: 400px;
    margin-top: 130px;
    margin-left: 100px;
    line-height: 95px;
}